@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ff4757;

}

.App {
  background-color: #ff4757;

}

.header h1 {
  font-size: 55px;
  text-align: center;
  color: #ecf0f1;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #f1f2f6;
  margin-bottom: 20px;
}

.noteContainer {
  display: flex;
  justify-content: center;
}

.left {
  z-index: 1;
  position: relative;
  background-color: #ff4757;
  max-width: 300px;
  width: 100%;
  align-self: flex-start;
  color: #fff;
  border-right: 1px dashed #3742fa;
  height: 100vh;

}

.listColor {
  display: flex;
  gap: 20px;
  box-shadow: inset;
}

.listColor li.active {
  border: 4px solid #fff;
}

.listColor li {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 10px 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 100%;
}


.listColor li:nth-child(1) {
  background-color: #3d3d3d
}

.listColor li:nth-child(2) {
  background-color: #cd84f1;
}

.listColor li:nth-child(3) {
  background-color: #ffcccc;
}

.listColor li:nth-child(4) {
  background-color: #32ff7e;
}

.listColor li:nth-child(5) {
  background-color: #fff200;
}

.menuContent {
  padding: 0 10px 0 20px;
  flex-direction: column;
  display: flex;
  margin-bottom: 20px;
}



.left form {
  width: 100%;
}

.left .formInput {
  border-radius: 2px;
  text-indent: 7px;
  outline: none;
  border: none;
  height: 30px;
  width: 100%;
}

.left .menuTitle {
  margin-bottom: 12px;
  text-align: center;
}



.left .newNote {
  display: flex;
  flex-direction: column;
}

.addNewForm {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.addNewForm .formControl {
  margin-bottom: 10px;
}

.addNewForm .formControl label {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.addNewForm .formControl input,
.addNewForm .formControl textarea {
  resize: none;
  outline: 0;
  border: none;
  text-indent: 12px;
  border-radius: 2px;
  width: 100%;
}

.addNewForm .formControl input {
  height: 30px;
}

textarea {
  margin: 5px 0;
  padding-top: 10px;
  min-height: 80px;
  font-size: 13px;

}

.left .addNewForm input[type='radio'] {
  display: none;
}

#color_1Button {
  border: 4px solid #cd84f1;
}

#color_2Button {
  border: 4px solid #ffcccc;
}

#color_3Button {
  border: 4px solid #32ff7e;
}

#color_4Button {
  border: 4px solid #fff200;
}

#color_4:checked~#color_4Button {
  background-color: #fff200;
  border: 4px solid #fff
}

#color_3:checked~#color_3Button {
  background-color: #32ff7e;
  border: 4px solid #fff
}

#color_2:checked~#color_2Button {
  background-color: #ffcccc;
  border: 4px solid #fff
}

#color_1:checked~#color_1Button {
  background-color: #cd84f1;
  border: 4px solid #fff
}

.radioGroup input[type=radio]~label {
  position: relative;
}


input[type=radio]:checked~label::before {
  content: '\2713';
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  color: #fff;

}

.left .radioButton {
  transition: all 0.5s;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;

}

.left .radioGroup {
  display: flex;
  gap: 10px;
}

.left .addNewForm .addNoteButton {
  background-color: #4b4b4b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
  margin-top: 20px;
  cursor: pointer;

}


.right {
  flex: 1;
  padding: 0 10px;
}

.right .cardContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.right .card {
  margin-bottom: 20px;
  width: calc(25% - 20px);
  padding-top: 10px;
  background-color: #ddd;
  border-radius: 7px;
  color: #fff;
  font-family: 'Play', sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.56);
}

.card h1 {
  font-size: 15px;
  letter-spacing: 1px;
}

.card h1,
p {
  padding: 10px;
}

.right .card .noteButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 7px;
  padding-right: 20px;
}

@media only screen and (max-width: 1200px) {
  .noteContainer .card {
    width: calc(33% - 20px);
  }
}

@media only screen and (max-width: 1024px) {
  .noteContainer .card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .noteContainer .card {
    width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .noteContainer {
    flex-wrap: wrap;
    
  }

  .noteContainer .left {
    width: 100%;
    max-width: 100%;
  }
  .noteContainer .card {
    width: calc(50% - 20px);
  }

    
    @media only screen and (max-width: 480px) {
      .noteContainer .card {
        width: calc(100% - 20px);
      }
    }
}